easydict==1.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
nlpaug==1.1.10
nltk==3.7
numpy==1.22.3
pandas==1.4.2
sklearn==0.0
spacy==3.3.0
transformers==3.1.0